<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297619394456-0sr68nmq8mpa9llkbj8aifgf8a5ua61t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297619394456-0sr68nmq8mpa9llkbj8aifgf8a5ua61t</string>
	<key>API_KEY</key>
	<string>AIzaSyCzEr_tWRi0DbGcEM6rXzrejtcte8Zg3Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>297619394456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-a571e</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-a571e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297619394456:ios:d3547ad58852206a63a5ed</string>
</dict>
</plist>